body {
    background-color: cadetblue;
}

.selector-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.mode-selector, .line-selector {
    margin: 10px;
    padding: 5px;
}

.mode-selector {
    width: 30%;
}

h1 {
    text-align: center;
}

