body {
    background-color: paleturquoise;
}
.selector-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.mode-selector, .line-selector {
    margin: 10px;
    padding: 5px;
}

.mode-selector {
    width: 30%;
}

h1 {
    text-align: center;
}

.route-cards {
    display: flex;
    flex-direction: row;
}

.start-line, .destination {
    border: 2px solid wheat;
    color: wheat;
    background-color: midnightblue;
    margin: 5px;
    padding: 50px;
}

